<div class="container-fluid">
	<nav class="row services-navbar">
		<div class="vertical-center">
			<div class="col-lg-2">
				<a [routerLink]="['/home']"><img class="logo-choice" alt="logo travel fashion club" src="../../../assets/img/logo.png"></a>
			</div>
			<div class="col-lg-8">
				<h2 class="title">TRAVEL FASHION CLUB</h2>
			</div>
			<div class="col-lg-2">
				<img class="logo-choice-2" alt="logo travel fashion club" src="../../../assets/img/client.png">
			</div>
		</div>
	</nav>
</div>
<div class="container services-choices">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="choices-title">Choose your services</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3" *ngFor="let service of servicesList; let i = index;" (click)="selectedServices(service.name, i)">
			<div class="available-services" *ngIf="service.selected">
				<span class="align-helper"></span>
				<img class="services-img" [src]="'../../../assets/img/service/' + service.name.toLowerCase() + 'Selec.png'" />
				<span class="services-title" [style.color]="getColor()">{{service.name}}</span>
			</div>
			<div class="available-services" *ngIf="!service.selected">
				<span class="align-helper"></span>
				<img class="services-img" [src]="'../../../assets/img/service/' + service.name.toLowerCase() + '.png'" />
				<span class="services-title" [style.color]="getColor2()">{{service.name}}</span>
			</div>
		</div>
	</div>
	<div class="row next-btn">
		<div class="col-lg-12">
			<a class="validation-btn" (click)="putSelecMenu()" [routerLink]="['/services']">OK</a>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row choices-footer">
		<div class="col-lg-12">
			<p>88, rue de Sèvres 75007 Paris, France</p>
			<p>+33 (0)66-434-9404 &nbsp;&nbsp; contact@travelfashionclub.com</p>
			<p>Copyright &copy; travelfashionclub 2016</p>
		</div>
	</div>
</div>