.services-navbar{
	position: relative;
	height: 150px;
    border-bottom: 3px solid #CF2127;
    -moz-box-shadow: 0px 5px 30px 1px #656565;
    -webkit-box-shadow: 0px 5px 30px 1px #656565;
    -o-box-shadow: 0px 5px 30px 1px #656565;
    box-shadow: 0px 5px 30px 1px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=30);
	text-align: center;
}

.vertical-center{
  position: absolute;
  width: 100%;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.v-center{
	padding-top: 62px;
}

.title{
    font-size: 52px;
    margin: 0;
    padding-top: 21.5px;
}

.logo-choice{
	height: 100px;
}

.logo-choice-2{
	height: 80px;
    margin-top: 10px;
}

.services-choices{
    text-align: center;
}

.choices-title{
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: 600;
}

.available-services{
    height: 200px;
    margin-bottom: 80px;
    cursor: pointer;
}

.align-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.services-img{
    vertical-align: middle;
    width: 150px;
    text-align: center;
}

.services-title{
    display: block;
    font-size: 22px;
    padding-top: 20px;
}

.next-btn{
    margin-top: 60px;
    margin-bottom: 80px;
}

.validation-btn{
    font-size: 22px;
    color: #FFF;
    background-color: #F5858A;
    padding: 20px 250px;
    margin-top: 100px;
    transition: 0.2s all;
}

.validation-btn:hover{
    text-decoration: none;
    background-color: #FFF;
    color: #F5858A;
    border: 2px solid #F5858A;
}

.validation-btn-2{
    font-size: 22px;
    color: #FFF;
    background-color: #999;
    padding: 20px 149px;
    margin-top: 100px;
    transition: 0.2s all;
}

.validation-btn-2:hover{
    text-decoration: none;
}

.choices-footer{
    height: 100px;
    border-top: 1px solid #fff;
    background-color: #eee;
    text-align: center;
    padding-top: 20px;
    -webkit-box-shadow: 0px -2px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 15px 1px rgba(0,0,0,0.75);
}

.choices-footer p{
    margin-bottom: 0px;
}