<div class="container-fluid">
	<nav class="row services-navbar">
		<div class="vertical-center">
			<div class="col-lg-2">
				<a [routerLink]="['/home']"><img class="logo-services" alt="logo travel fashion club" src="../../../assets/img/logo_tfc.png"></a>
			</div>
			<div class="col-lg-7 v-center">
				<a class="menu-item" [routerLink]="['/services/' + item.toLowerCase()]" *ngFor="let item of chosenServices; let i = index;" (click)="currentService(i)">
					<div class="menu-services" *ngIf="item.selected">
						<img class="logo-menu" [src]="'../../../assets/img/service/' + item.toLowerCase() + 'Selec.png'"/>
					</div>
					<div class="menu-services" *ngIf="!item.selected">
						<img class="logo-menu" [src]="'../../../assets/img/service/' + item.toLowerCase() + '.png'"/>
					</div>
				</a>
			</div>
			<div class="col-lg-3  v-center">
				<img class="logo-menu" src="../../../assets/img/service/finres.png">
				<span>price</span>
			</div>
		</div>
	</nav>
</div>

<h3>Votre service</h3>

<router-outlet></router-outlet>